body {
  font-family: 'Noto Sans', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

caption {
  caption-side: top;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.authors p {
  font-family: 'Calibri', sans-serif; /* 设置字体为 Calibri */
  font-size: 18px; /* 增大字体大小 */
  color: #000000; /* 设置字体颜色为黑色 */
  margin: 5px 0; /* 调整段落间距 */
}

.author {
  position: relative;
  display: inline-block; /* 使得伪元素正确定位 */
  font-size: 20px; /* 增大作者名字的字体大小 */
}

.author:after {
  content: attr(data-institution);
  font-size: smaller;
  vertical-align: super;
  margin-left: 2px;
}

.author sup {
  font-size: smaller;
  color: #333;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
}

.image-container {
  text-align: left; /* 设置容器内的所有内容为左对齐 */
  width: 90%; /* 设置容器宽度为90%，这将限制了图片和文本的最大宽度 */
  margin: 0 auto; /* 上下保持0，左右自动，以确保容器在页面中居中 */
}

.centered-image {
  width: 100%; /* 图片宽度为容器的100%，即实际上为页面宽度的90% */
  height: auto; /* 高度自动调整以保持图片纵横比 */
}

.image-description {
  font-size: 16px; /* 设置描述文字的字体大小 */
  line-height: 1.5; /* 设置行间距 */
  margin: 10px 0; /* 在描述文字上下添加一些外边距 */
  /* 由于容器宽度限制，文本长度不会超过图片长度 */
}

.video-container {
  position: relative;
  display: inline-block; /* 确保容器紧贴内容 */
}

.video-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%; /* 限制最大宽度为容器宽度 */
  background-color: rgba(0, 0, 0, 0.5); /* 黑色背景，50%的透明度 */
  color: #ffffff; /* 白色文字 */
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px; /* 增大字体大小 */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  box-sizing: border-box; /* 确保内边距不会使元素超出设定宽度 */
  overflow: hidden; /* 防止内容溢出 */
}

.video-container:hover .video-description {
  opacity: 1;
}

/* 可选: 调整视频元素的样式 */
video {
  width: 100%; /* 视频宽度设置为100%，确保填充其父容器 */
  height: auto; /* 高度自动调整以保持视频比例 */
  /* 更多样式（如需要） */
}

/* 表格单元格样式 */
td {
  width: 50%; /* 每个表格单元格占据总宽度的三分之一 */
  padding: 10px; /* 添加一些内边距 */
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.is-smallcaps {
  font-variant: small-caps;
}


.author-block {
  display: inline-block;
}

.author-portrait {
  overflow: hidden;
  width: 128px;
  height: 128px;
  font-size: 0;
  margin: auto;
}
.author-portrait img {
    border-radius: 50%;
    width: 140px;
    position: relative;
}

.author-portrait .depth {
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

/*
.results-carousel {
  overflow: hidden;
}
*/

.slick-prev {

}

.results-carousel > div {
  text-align: center;
}

.results-carousel .results-item {
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


.level-set-slices {
  width: 100%;
  height: 250px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.level-set-shapes {
  font-size: 0;
  padding-left: 5%;
}
.level-set-shapes img {
  width: 30%;
}
.level-set-interpolate {
  width: 100%;
}
.level-set-ox-shapes img {
  width: 24%;
}

.content model-viewer {
 margin-bottom: 1em;
}

.hyper-space-wrapper {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 20px;
}

.hyper-space-axis {
  padding: 5px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.hyper-space {
  width: 100%;
  padding-bottom: calc(100% - 7%);
  box_sizing: border-box;
  touch-action: none;

  background-image: url(../figures/hyper_log_prob.png);
  background-size: contain;
  border-radius: 10px;
}

.hyper-space-cursor {
  width: 7%;
  padding-bottom: calc(7% - 6px);
  background: #29e;
  border-radius: 50%;
  border: 3px solid #fff;
}

.hyper-grid-wrapper{
  width: 95%;
  padding-bottom: 95%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #29e;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.hyper-grid-rgb {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
}

.hyper-grid-rgb img {
  position: relative;
  height: 2000%;
  width: 2000%;
  max-width: none !important;
}
/* .hero.teaser.video-container .container {
  max-width: 90%;
}
 */
